@model List<ControleEstoque.Web.Models.LocalArmazenamentoViewModel>
@{
    Layout = "~/Views/Shared/_Cadastro.cshtml";
    ViewBag.Title = "Locais de Armazenamento";
    ViewBag.Lista = Model;
}

@section Styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Cadastro/LocalArmazenamento.css" rel="stylesheet" />
}

@section TituloGrid {
    <th><span class="coluna-ordenacao" data-campo="nome">Nome</span></th>
    <th><span class="coluna-ordenacao" data-campo="ativo">Ativo</span></th>
    <th>Ação</th>
}

@section CamposCadastro {
    <div class="row">
        <div class="col-md-12">
            @Html.Label("txt_nome", "Nome", new { @class = "control-label" })
            @Html.TextBox("txt_nome", null, new { @class = "form-control" })
        </div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <div class="form-check">
                @Html.CheckBox("cbx_ativo", new { @class = "form-check-input" })
                @Html.Label("cbx_ativo", "Ativo", new { @class = "form-check-label" })
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        var tituloPagina = '@ViewBag.Title';
        var url_excluir = '@Url.Action("ExcluirLocalArmazenamento", "CadLocalArmazenamento")';
        var url_confirmar = '@Url.Action("SalvarLocalArmazenamento", "CadLocalArmazenamento")';
        var url_page_click = '@Url.Action("LocalArmazenamentoPagina", "CadLocalArmazenamento")';
        var url_tam_pag_change = '@Url.Action("LocalArmazenamentoPagina", "CadLocalArmazenamento")';
        var url_filtro_change = '@Url.Action("LocalArmazenamentoPagina", "CadLocalArmazenamento")';
        var url_alterar = '@Url.Action("RecuperarLocalArmazenamento", "CadLocalArmazenamento")';
        var linhas = [];

        @{
            var linha = 0;
            foreach (var item in Model)
            {
                linha++;
                if (linha <= ViewBag.QuantMaxLinhasPorPagina)
                {
                    @:linhas.push(@Html.Raw(Json.Encode(item)));
                                }
                else
                {
                    break;
                }
            }
        }
    </script>
    <script id="template-grid" type="x-tmpl-mustache">
        <tr data-id="{{ Id }}">
            <td>{{ Nome }}</td>
            <td>{{ #Ativo }}SIM{{ /Ativo }}{{ ^Ativo }}NÃO{{ /Ativo }}</td>
            <td>
                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar</a>
                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir</a>
            </td>
        </tr>
    </script>
    <script src="~/Scripts/Cadastro/LocalArmazenamento.js"></script>
}